.container {
  border-radius: 8px;
  padding: 32px;
  margin: 0 auto;
}

.subtitle {
  margin-bottom: 32px;
  text-align: center;
}

.worth {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg, #ffdd8c, #ffe608);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #ffeb3b40;
}

.textHighlight {
  background: linear-gradient(45deg, #17d062, #08ff79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #08ff8161;
}

.content {
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  flex: 1;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #fff;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.listItem {
  text-align: left;
  margin-bottom: 12px;
  font-size: 16px;
  color: #ccc;
  position: relative;
  padding-left: 20px;
}

.listItem::before {
  content: '•';
  color: #ccc;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: -5px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 16px 0;
  }

  .subtitle {
    margin-bottom: 12px;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .column {
    padding: 0;
  }
}
